body {
  font-family: "futura-pt", "sofia-pro";
  font-weight: lighter;
  font-size: 15px;
  margin: 45px 15px;
}

p {
  margin: 15px 0;
}


.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
   zoom:1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
    text-align:center;
}

.section {
  display: none;
  width: 60%;
  max-width: 800px;
  margin: 0 auto;
}

.block {
  margin-bottom: 60px;
}

#menu {
  margin-bottom: 45px;
}

img {
  max-width: 100%;
}

.half {
  width: 49%;
}

.border {
  border: 1px solid #cccccc; 
}

a {
  color: black !important;
  background: yellow !important;
  border: none !important;
  padding: 0 !important;
  border-radius: 0px !important;
  cursor: pointer !important;
  text-decoration: none !important;}

a:active {
  background: yellow !important;
}

a:hover {
  background: yellow !important;
  color: black !important;
}

ul#menu {
  border: none !important;
}

#menu li {
  margin: 0 30px;
  padding: 0 !important;
  /*border-bottom: 1px dotted #000;*/
}

#menu li a {
  background: white !important;
  padding: 0 5px !important;

}

#menu li.active a {
  background: yellow !important;
}

input {
  border: none !important;
  border-bottom: 1px solid gray !important;
  outline: none !important;
}

textarea {
  border: 1px solid gray !important;
  outline: none !important;
}

input {
  margin-bottom: 0.5em;
}

textarea {
  margin-top: 0.5em;
  width: 70%;
}

#submit {
  padding: 2px 6px;
  cursor: pointer;
  float: left;
  background: black;
  color: white;
}

#submit:hover {
  color: black;
  background: yellow;
}

#thankyou {
  display: none;
}

#loading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(255, 255, 255, 0.85);
  text-align: center;
  display: table;
}

#loading p {
  display: table-cell;
  vertical-align: middle;
  font-size: 170%;
}

#section_todo img {
  margin: 0.5em 0;
}

#section_todo li {
  margin-bottom: 1em;
}

@media screen and (max-width: 800px) {
  .section {
    width: 90%;
    max-width: 800px;
  }
  #menu li { 
    margin: 0 0px;
  }
}